ion-label {
    margin-bottom: 7px !important ;
}

ion-searchbar {
    width: 105%
}

#minus-icon {
    position: relative;
    top: 10px;
    font-size: 1.5rem;
}

#debt-info {
    display: flex;
    flex-direction: column;
}

#question {
    display: flex;
    margin-top: 20px;
}

ion-card{
    margin: 20px;
}