<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs">Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentSignoutDialog()" id="logout-btn" >
      <ion-icon name="log-out-outline" id="logout-icon"></ion-icon>
      Logout
    </ion-button>
   
    <ion-button routerLink="/note-list" id="notes-btn">
      <ion-icon name="document-text-outline" id="edit-icon" color="primary"></ion-icon>
     NOtes
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if (isLoggingOut) {
  <div class="logout-overlay">
    <div class="logout-content">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Logging out...</p>
    </div>  
  </div>
}
<ion-content class="ion-padding">
  

  <ion-card *ngIf="user; else loadingTemplate" class="profile-card">
    <ion-card-header>
      <ion-card-title>👤 User Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="profile-list">
        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon id="age-range-icon" [src]="'assets/age-range.svg'" class="icon"></ion-icon>
              <ion-label>Age Range:</ion-label>
            </div>
          <ion-select *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.ageRange"
          placeholder="Enter age range here..."
        >
          <ion-select-option value="18-24">18-24</ion-select-option>
          <ion-select-option value="25-34">25-34</ion-select-option>
          <ion-select-option value="35-44">35-44</ion-select-option>
          <ion-select-option value="45-54">45-54</ion-select-option>
          <ion-select-option value="55-64">55+</ion-select-option>
          
      </ion-select>
          <ion-note *ngIf="!isEditing">{{ user.ageRange || 'N/A' }}</ion-note>
        </div>
        </ion-item>

        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/name.svg'" class="icon"></ion-icon>
              <ion-label>Name:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing" autoGrow="true" class="editable-textarea" [(ngModel)]="editableUser.name" placeholder="Enter text here..."></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ user.name || 'N/A' }}</ion-note>
        </div>
        
        </ion-item>

        

        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/country.svg'" class="icon"></ion-icon>
              <ion-label>Country:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.country"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ user.country || 'N/A' }}</ion-note>
        </div>
        </ion-item>

        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/city.svg'" class="icon"></ion-icon>
              <ion-label>City:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.city"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ user.city || 'N/A' }}</ion-note>
        </div>

        </ion-item>

        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon id="savings-goal-icon" [src]="'assets/savings-goal.svg'" class="icon"></ion-icon>
              <ion-label>Savings Goal:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.savingsGoal"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ (user.savingsGoal | currency) || (0 | currency) }}</ion-note>
        </div>

        </ion-item>


        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/monthly-income.svg'" class="icon"></ion-icon>
              <ion-label>Monthly Income:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.monthlyIncome"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ (user.monthlyIncome | currency) || ( 0 | currency) }}</ion-note>
        </div>
        </ion-item>


        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/debt.svg'" class="icon" id="debt-icon"></ion-icon>
              <ion-label>Debt Amount:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.debtAmount"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ (user.debtAmount | currency) || ( 0 | currency) }}</ion-note>
        </div>
        </ion-item>

        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/savings.svg'" class="icon"></ion-icon>
              <ion-label>Savings:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.savings"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ (user.savings| currency ) || (0 | currency)  }}</ion-note>
        </div>
        </ion-item>

        <!-- Fixed Expenses Grid -->
        <ion-item lines="none">
          <div id="label">
            <ion-icon [src]="'assets/fixed-expenses.svg'" class="icon"></ion-icon>
            <ion-label>Fixed Expenses:</ion-label>
          </div>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6"><strong>Category</strong></ion-col>
            <ion-col size="4"><strong>Amount</strong></ion-col>
            <ion-col size="2" *ngIf="editableUser.fixedExpenses.length === 0 && isEditing">
              <ion-icon name="add-circle-outline" (click)="addFixedExpense()"></ion-icon>
            </ion-col>
          </ion-row>
          @for (fixedExpense of editableUser.fixedExpenses; track $index; let idx = $index) {
          <ion-row>
            <ion-col size="6">
              <ion-textarea *ngIf="isEditing"
              autoGrow="true"
              class="editable-textarea"
              [(ngModel)]="editableUser.fixedExpenses[idx].category"
              placeholder="Enter text here..."
            ></ion-textarea>              <ion-note *ngIf="!isEditing">{{ fixedExpense.category }}</ion-note>
            </ion-col>
            <ion-col size="4">
              <ion-textarea *ngIf="isEditing"
              autoGrow="true"
              class="editable-textarea"
              [(ngModel)]="editableUser.fixedExpenses[idx].amount"
              placeholder="Enter text here..."
            ></ion-textarea>              <ion-note *ngIf="!isEditing">${{ fixedExpense.amount }}</ion-note>
            </ion-col>
            <ion-col size="2">
              <ion-icon *ngIf="isEditing"
              name="remove-circle-outline"
              (click)="removeFixedExpense(idx)"
              class="remove-icon"  ></ion-icon>
              <ion-icon *ngIf="isEditing && (idx === editableUser.fixedExpenses.length - 1)"
              name="add-circle-outline"
              color="primary"
              (click)="addFixedExpense()"
              class="add-icon"></ion-icon>
            </ion-col>
          </ion-row>
        }
        </ion-grid>

        <!-- Variable Expenses Grid -->
        <ion-item lines="none">
          <div id="label">
            <ion-icon [src]="'assets/variable-expenses.svg'" class="icon"></ion-icon>
            <ion-label>Variable Expenses:</ion-label>
          </div>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6"><strong>Category</strong></ion-col>
            <ion-col size="4"><strong>Amount</strong></ion-col>
            <ion-col size="2" *ngIf="editableUser.variableExpenses.length === 0 && isEditing">
              <ion-icon name="add-circle-outline" (click)="addVariableExpense()"></ion-icon>
            </ion-col>
          </ion-row>
          @for (variableExpense of editableUser.variableExpenses; track $index; let idx = $index) {
          <ion-row>
            <ion-col size="6">
              <ion-textarea *ngIf="isEditing"
              autoGrow="true"
              class="editable-textarea"
              [(ngModel)]="editableUser.variableExpenses[idx].category"
              placeholder="Enter text here..."
            ></ion-textarea>              <ion-note *ngIf="!isEditing">{{ variableExpense.category }}</ion-note>
            </ion-col>
            <ion-col size="4">
              <ion-textarea *ngIf="isEditing"
              autoGrow="true"
              class="editable-textarea"
              [(ngModel)]="editableUser.variableExpenses[idx].amount"
              placeholder="Enter text here..."
            ></ion-textarea>              <ion-note *ngIf="!isEditing">${{ variableExpense.amount }}</ion-note>
            </ion-col>
            <ion-col size="2">
              <ion-icon *ngIf="isEditing"
              name="remove-circle-outline"
              (click)="removeVariableExpense(idx)"
              class="remove-icon"  ></ion-icon>
              <ion-icon *ngIf="isEditing && (idx === editableUser.variableExpenses.length - 1)"
              name="add-circle-outline"
              color="primary"
              (click)="addVariableExpense()"
              class="add-icon"></ion-icon>
            </ion-col>
          </ion-row>
        }
        </ion-grid>
        <ion-item lines="none">
          <div class="profile-item">
            <div id="label">
              <ion-icon [src]="'assets/occupation.svg'" class="icon"></ion-icon>
              <ion-label>Occupation:</ion-label>
            </div>
          <ion-textarea *ngIf="isEditing"
          autoGrow="true"
          class="editable-textarea"
          [(ngModel)]="editableUser.occupation"
          placeholder="Enter text here..."
        ></ion-textarea>
          <ion-note *ngIf="!isEditing">{{ user.occupation || 'N/A' }}</ion-note>
        </div>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content class="btn-group">
      <ion-button expand="full" [color]="isEditing? 'danger' : 'primary'" (click)="toggleEditMode()">
        {{ isEditing ? 'Cancel' : 'Edit Profile' }}
      </ion-button>
      <ion-button *ngIf="isEditing" expand="full" color="primary" (click)="saveProfile()" [disabled]="isSaving" class="save-btn">
        <ion-spinner *ngIf="isSaving" name="crescent"></ion-spinner>
        <span *ngIf="!isSaving">Save</span>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ng-template #loadingTemplate id="loadingTemplate">
    <div class="loading-overlay">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading user data...</p>
    </div>
  </ng-template>
</ion-content>