.profile-card {
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .profile-list {
    background: #ffffff;
    border-radius: 10px;
  
    gap: 20px;
  }
  
  .profile-item {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  ion-toolbar{ 
  --background: #007aff;
  color: white;
  }

  #debt-icon {
    font-size: 1.9rem;
  }

  #notes-btn {
    background-color: white;
    color: var(--ion-color-primary) ;
    padding: 5px;
    margin-left: 15px;
  }

  
  
//   .data-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); // Two equal columns
//     gap: 15px;
//     width: 100%;
//   }
  
  ion-card {
    padding: 20px;
  }
  
  ion-label {
    font-weight: 600;
    font-size: 16px;
    color: #333;
  }
  
  ion-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    background: none !important;
    padding-left: 8px;
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
  }
  
  ion-note {
    font-weight: bold;
    color: #3880ff;
    font-size: 14px;
  }
  
  .editable-textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 8px;

  }
  .btn-group {
    display: flex;
    gap: 12px;
  }
  
  ion-button {
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  ion-icon {
    font-size: 22px;
    color: #d32f2f;
    cursor: pointer;
  }
  
  #loadingTemplate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
//   .data-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); // Two equal columns
//     gap: 10px;
//     width: 100%;
//     align-items: center;
//   }
  
  ion-grid {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 12px;
  }

  ion-row {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
  }

  .save-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-spinner{ 
      position: relative;
      left: 15px;
      top: 18px;
    }
  }

  ion-row:last-child {
    border-bottom: none;
  }


  .loading-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  ion-label {
    margin-right: 7px;
  }
  .profile-card {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInSlideDown 0.6s ease-out forwards;
  }
  
  #logout-btn {
    background-color: white;
    color: var(--ion-color-primary);
    padding: 5px;
  }

  #label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #age-range-icon {
    font-size: 2.2rem;
  }

  .icon {
    font-size: 1.7rem;
  }

  #logout-icon {
    color: var(--ion-color-primary);
  }

  #savings-goal-icon {
    font-size: 2.2rem;
  }
  @keyframes fadeInSlideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  