<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-content">
      <div >
        <ion-title id="page-title">Goals</ion-title>
        <ion-text>Manage your finances wisely</ion-text>
      </div>
      <ion-select [(ngModel)]="filter"  interface="popover"  (ionChange)="changeFilter($event)" >
        <ion-select-option value="Priority">Priority</ion-select-option>
        <ion-select-option value="Deadline">Deadline</ion-select-option>
        <ion-select-option value="None">None</ion-select-option>
     </ion-select>
    </div>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    @if (!loading) {
    @if (goals$ | async; as goals ) {
      @if (goals.length !== 0) {
        <ion-list>
          <ion-card *ngFor="let goal of goals" class="goal-card"  #longPressElement >
            <ion-card-header>
              
              <ion-item lines="none" >
               <div id="goal-title">
                  <div id="title">
                    <ion-icon src="assets/goal.svg" class="goal-icon"></ion-icon>
                    <ion-text class="goal-name">{{ goal.name }}</ion-text>
                  </div>
                  <div id="delete-btn">
                    <ion-button fill="clear" color="danger" (click)="presentDeleteGoalDialog(goal)">
                      <ion-icon name="trash" id="delete-icon"></ion-icon>
                    </ion-button>
                  </div>
                  <div id="date-div">
                    <ion-icon name="calendar-outline" class="deadline-icon"></ion-icon>
                    <ion-text id="deadline">{{toDate(goal.deadline)}}</ion-text>
                  </div>
              </div>  
              </ion-item>
            </ion-card-header>
            
            <ion-card-content>
              <div id="description" #desc
                [contentEditable]="allowEdit"
                (blur)="editDescription($event, goal)"
                [ngClass]="{'active-div': allowEdit && focusedGoal?.name === goal.name}"
                (click)="allowEdit = true; focusedGoal = goal;">
                <ion-text color="medium" class="goal-description">{{ goal.description }}</ion-text>
                
              </div>
              
                <ion-button  (click)="goalAdvise(goal)" [disabled]="generating" id="advise-button">
                  @if (generating && selectedGoal?.name === goal.name) {
                    <ion-icon name="bulb-outline" slot="start"></ion-icon>
                    Generating content...
                  } @else {
                    <ion-icon name="bulb-outline" slot="start"></ion-icon>
                    Advise
                  }
                </ion-button>
                             
            </ion-card-content>
          </ion-card>
        </ion-list>
      }
      @else{
        <ion-text class="no-goals-text">No goals yet. Start tracking your financial journey!</ion-text>
      }
    } 
    @else {
      <ion-spinner name="crescent" class="spinner"></ion-spinner>
    }
  }
  @else {
    <ion-spinner name="crescent" class="spinner"></ion-spinner>
  }
</div>


  <div class="custom-popup" *ngIf="showPopup">
    <div class="popup-content">
      <div class="popup-header">
        <ion-icon name="close" class="close-icon" (click)="showPopup = false; generated=false; selectedGoal=null" color="danger"></ion-icon>
        Goal Report
        <ion-button id="add-note" (click)="presentAddNoteDialog()" fill="clear">
          <ion-icon [src]="'assets/note.svg'" id="note-img"></ion-icon>
        </ion-button>
          
      </div>
      <div class="popup-section">
        <h4>Advice</h4>
        <ion-text class="response">{{ response }}</ion-text>
      </div>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-goal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
