<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-content">
    <div class="month-toggler-container">
      <ion-buttons slot="start">
        <ion-button (click)="toggleMonth('back')" color="white">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-text id="month-title">{{ currentMonth.display }}</ion-text>
      <ion-buttons slot="end">
        <ion-button (click)="toggleMonth('forward')" color="white">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

    <div id="filter">
    
    <ion-select interface="popover" placeholder="Select a chart type" [(ngModel)]="chartType" (ionChange)="changeChartType($event.detail.value)">
      <ion-select-option value="bar">
        <ion-label> 
          <ion-icon name="bar-chart-outline"></ion-icon>Bar
        </ion-label>
        </ion-select-option>
        <ion-select-option value="pie">
          <ion-label>
            <ion-icon name="pie-chart-outline"></ion-icon> Pie
          </ion-label>
        </ion-select-option>
    </ion-select>
  </div>
  </div>
  </ion-toolbar>
</ion-header>
<ion-tabs>
<ion-tab-bar slot="top" id="filter">
  <ion-tab-button 
    [routerLink]="['/tabs/stats/expenses', currentMonth.value]"
    [ngClass]="{ 'active-tab': selectedData === 'Expenses' }" 
      (click)="selectedData = 'Expenses'"
  >
    <ion-label>Expenses</ion-label>
  </ion-tab-button>
  <ion-tab-button
    [routerLink]="['/tabs/stats/incomes', currentMonth.value]"
    [ngClass]="{ 'active-tab': selectedData === 'Incomes' }"
      (click)="selectedData = 'Incomes'"
  >
    <ion-label>Incomes</ion-label>
  </ion-tab-button>
  <ion-router-outlet></ion-router-outlet>
</ion-tab-bar>
</ion-tabs>
<ion-content [fullscreen]="true" class="chart-data-content">
  
  

 