ion-list ion-item {
  padding: 8px;
  display: flex !important;
  justify-content: space-evenly !important;
  border-bottom: 1px solid #f0f0f0;
}

#noData {
  background-color: white;
  color: #959494;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

ion-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

#profile-btn {
  color: var(--ion-color-primary);
  border-radius: 8px;
  top: 2px;
  position: relative;
  right: -5px;
  outline: none !important;
  box-shadow: none !important;
  --border-style: none;
}

#profile-icon {
  color: white;
  font-size: 2.4rem;
}

.floating-datetime {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 250px;
  z-index: 1000;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

#calendar {
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  color: var(--ion-color-primary);
}

ion-list {
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --inner-padding: 0 !important;
  padding: 0 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: #ffffff;
}

.category-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 45%;
}

.description {
  display: flex;
  align-items: center;
  word-break: break-word;
  justify-self: flex-end;
  hyphens: auto;
  gap: 2px;
  font-size: small;
  text-align: right;
}

.date-picker {
  width: 50%;
  height: 70px;
  justify-self: flex-start;
  position: relative;
  background-color: white;
  padding: 0 !important;
}

:root {
  --item-height: 50px;
}


.toolbar-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}


.amount {
  font-size: 13px;
  color: #333;
  text-wrap: wrap;
  word-break: break-all;
  white-space: normal;
}

#amount-container {
  width: 35%;
  margin-right: 5px;
}

.expense-amount {
  color: red;
}

.expense-type {
  color: red;
  font-weight: bold;
}

.income-amount {
  color: green;
}

.income-type {
  color: green;
  font-weight: bold;
}

#total-amount.deficit {
  color: red;
}

.trans-icon {
  font-size: 20px;
  flex-shrink: 0;
}

#total-amount {
  color: black;
  white-space: normal;
  word-break: break-all;
  text-align: center;
}

#total-amount.surplus {
  color: green;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.amount-div {
  border-right: 1px solid #d1d5db;
  width: 33.33%;
}

#total {
  width: 100%;
  
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
  --background: #f9fafb;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.transaction-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#selectedDate {
  font-size: small;
}

#calendar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  right: 15px;
  top: 0px;
  width: 50%;
}

.transaction-container > * {
  hyphens: auto;
}

#delete-btn {
  width: 10%;
  --color: black !important;
}

.category {
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
  text-align: right;
  font-size: 12px;
}

#delete-icon {
  color: black;
}

.datetime-container {
  position: absolute;
  top: 70px;
  left: 5px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

#calendar-btn {
  display: inline-block;
  margin-left: 10px;
  background-color: white;
  border-radius: 8px;
  padding: 3px;
}

#calendar-icon {
  color: var(--ion-color-primary);
}

.category-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  width: 55%;
}

.description-container {
  width: 25%;
}

ion-select {
  --background: #ffffff;
  --color: #343a40;
  --border-radius: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
  --height: 15px;
  margin-right: 3px;
  position: relative;
  top: 3px;
  width: 30%;
}



ion-select::part(icon) {
  color: #007aff;
  font-size: 1.2rem;
}

ion-select::part(text) {
  font-weight: 500;
  font-size: small;
  color: black;
}
