ion-header {
    background-color: transparent; /* or any other color */
  }
  ion-toggle {
    --background: #ccc !important; /* Background color when off */
    --background-checked: #4caf50 !important; /* Background color when on */
    --handle-background: #fff !important; /* Handle color */
    --handle-background-checked: #fff !important; /* Handle color when on */
  }